html{
    zoom: 200%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 2, 51);
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    background-color: rgb(2, 58, 125);
}
fieldset{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
label{
    display: block;
    margin: 0 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
input{
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
input:hover{
    background: #fff;
    color: #000;
    text-shadow: 0 0 10px #000;
}
input:focus{
    outline: none;
}
.radio-btn{
    width: 20px;
    margin-left: 10px;
}
.button{
    width: 80%;
    padding: 10px;
    margin: 20px 0 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
.button:hover{
    background: #fff;
    color: #000;
    text-shadow: 0 0 10px #000;
    transform: scale(1.1);
}
.deshabilitado{
    pointer-events: none;
    opacity: 0.3;
}
.error{
    color: red;
    font-weight: bold;
    margin: 0 0 10px;
}
p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: center;
}
#grupo{
    margin-top: 30px;
    font-size: 12px;
}